<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Map</title>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js" data-main="app" ></script>

    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="media.css">
	<script type="text/javascript">
	var RecaptchaOptions = {
		theme : 'custom',
		custom_theme_widget: 'recaptcha_widget'
	};
	</script>
	<!-- <script src="form.js"></script>
	<script src="router.js"></script> -->
</head>
<body>

	<script type="underscore/template" name="level">
		<div data-level="<%= id %>" data-depth="<%= depth %>">
			<ul></ul>
		</div>
	</script>
	<script type="underscore/template" name="node">
		<li data-node="<%= post.get('_id') %>" data-node-absolute-path="<%= post.get('path') %>,<%= post.get('_id') %>" data-node-user="<%= post.get('user') %>">
			<div data-node-media="<%= media_type %>" style="background-image:url(<%= media_url %>)"><%= media_markup %></div>
			<div class="meta">
				<span data-node-user-button data-node-user="<%= post.get('user') %>">@<%= post.get('user') %></span>
				<span data-node-childrencount><%= post.get('responses') || '0' %> nodes</span>
				<span data-node-time><%= post.get('created') %></span>
			</div>
			<div data-node-body><%= post.get('body') %></div>
		</li>
	</script>

	<span data-node-close></span>
    <section class="columns"></section>

    <div class="post-form">
		<div data-media-preview></div>
        <form data-userinput-postform>

			<input type="text" data-userinput-postform-parent placeholder="root" disabled>
            <textarea name="body" data-userinput-postform-body placeholder="Write here. The very first URL you include will be embedded in your post, try image and youtube links."></textarea>

            <div class="captchawrap">
				<!--fix this later to use environmental configuration-->
				<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LfN6vsSAAAAAPpvryqtQKzkgE-FuLJO6Va42oN1"></script>
				<div id="recaptcha_widget" style="display:none">

				   <div id="recaptcha_image"></div>
				   <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>
				   <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" data-userinput-postform-captcha placeholder="Enter text above" />
					<!--
				   <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
				   <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
				   <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>
				   <div><a href="javascript:Recaptcha.showhelp()">Help</a></div>
					-->

				 </div>
            </div>

            <input type="button" data-userinput-postform-submit value="&#9166;">
        </form>
    </div>

</body>
</html>
